* {
    background-color: rgb(238,184,83);
    font-family: 'Iceberg', cursive;
}

h1 {
    text-align: center;
}

#message {
    color: rgb(138,21,28);
    background-color: lightgray;
    align-content: center;
    margin: 7px 7px;
    padding: 5px 5px;
}

#countdown {
    color: white;
    background-color: lightgray;
    justify-content: center ;
    align-content: center;
    margin: auto;
    padding: 5px 5px;
}


h3 {
    color: white;
}

button {
    background-color: black;
    color: white;
    padding: 5px 5px;
    margin: 20px 20px;
    border-radius: 5px;
}

div#side-div {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 400px;
    background-color: lightgrey;
    border-radius: 5px;
    box-shadow: 7px 7px 5px darkgrey;
}
aside {
    width: 200px;
    height: 400px;
    background-color: lightgray;
    padding: auto;


}

section.game-play, p, h3 {
    background-color: lightgray;
    align-items: center;
    margin: auto auto;
    padding: 10px 10px;
    
}

h3 {
    text-decoration: underline;
    text-shadow: black 1.5px 1px;
    font-weight: bolder;
}

section.game-play {
    border-radius: 5px;
    box-shadow: 7px 7px 5px darkgrey;
}

#board {
    display: grid;
    grid-template-columns: repeat(8, 10vmin);
    margin: 10vmin 30vmin;
    max-height: 25vh;
    width: 25vh;
    gap: 3px;
    place-items: center;
}


img {
    height: 100%;
    width: 100%;
}


